<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eac.core.curriculum.mapper.CurriculumMapper" >
  <resultMap id="BaseResultMap" type="eac.core.curriculum.model.Curriculum" >
    <result column="C_ID" property="cId" jdbcType="VARCHAR" />
    <result column="C_UID" property="cUid" jdbcType="VARCHAR" />
    <result column="C_GID" property="cGid" jdbcType="VARCHAR" />
    <result column="C_NAME" property="cName" jdbcType="VARCHAR" />
    <result column="C_TYPE" property="cType" jdbcType="VARCHAR" />
    <result column="C_DETAILS" property="cDetails" jdbcType="VARCHAR" />
    <result column="C_CREATE_TIME" property="cCreateTime" jdbcType="TIMESTAMP" />
    <result column="C_END_TIME" property="cEndTime" jdbcType="TIMESTAMP" />
    <result column="C_DELETE_TIME" property="cDeleteTime" jdbcType="TIMESTAMP" />
    <result column="C_EFFECTIVE" property="cEffective" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="eac.core.curriculum.model.Curriculum" >
    insert into CURRICULUM (C_ID, C_UID, C_GID, 
      C_NAME, C_TYPE, C_DETAILS, 
      C_CREATE_TIME, C_END_TIME, C_DELETE_TIME, 
      C_EFFECTIVE, ATTRIBUTE1, ATTRIBUTE2, 
      ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, 
      ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, 
      ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, 
      ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14, 
      ATTRIBUTE15)
    values (#{cId,jdbcType=VARCHAR}, #{cUid,jdbcType=VARCHAR}, #{cGid,jdbcType=VARCHAR}, 
      #{cName,jdbcType=VARCHAR}, #{cType,jdbcType=VARCHAR}, #{cDetails,jdbcType=VARCHAR}, 
      #{cCreateTime,jdbcType=TIMESTAMP}, #{cEndTime,jdbcType=TIMESTAMP}, #{cDeleteTime,jdbcType=TIMESTAMP}, 
      #{cEffective,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, 
      #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, 
      #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, 
      #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, 
      #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, 
      #{attribute15,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="eac.core.curriculum.model.Curriculum" >
    insert into CURRICULUM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="cUid != null" >
        C_UID,
      </if>
      <if test="cGid != null" >
        C_GID,
      </if>
      <if test="cName != null" >
        C_NAME,
      </if>
      <if test="cType != null" >
        C_TYPE,
      </if>
      <if test="cDetails != null" >
        C_DETAILS,
      </if>
      <if test="cCreateTime != null" >
        C_CREATE_TIME,
      </if>
      <if test="cEndTime != null" >
        C_END_TIME,
      </if>
      <if test="cDeleteTime != null" >
        C_DELETE_TIME,
      </if>
      <if test="cEffective != null" >
        C_EFFECTIVE,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cUid != null" >
        #{cUid,jdbcType=VARCHAR},
      </if>
      <if test="cGid != null" >
        #{cGid,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cType != null" >
        #{cType,jdbcType=VARCHAR},
      </if>
      <if test="cDetails != null" >
        #{cDetails,jdbcType=VARCHAR},
      </if>
      <if test="cCreateTime != null" >
        #{cCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cEndTime != null" >
        #{cEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cDeleteTime != null" >
        #{cDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cEffective != null" >
        #{cEffective,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>