<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eac.core.friend.mapper.FriendMapper">
  <resultMap id="BaseResultMap" type="eac.core.friend.model.Friend">
    <result column="F_ID" jdbcType="VARCHAR" property="fId" />
    <result column="F_UID" jdbcType="VARCHAR" property="fUid" />
    <result column="F_FID" jdbcType="VARCHAR" property="fFid" />
    <result column="F_CREATE_TIME" jdbcType="TIMESTAMP" property="fCreateTime" />
    <result column="F_DELETE_TIME" jdbcType="TIMESTAMP" property="fDeleteTime" />
    <result column="F_EFFECTIVE" jdbcType="VARCHAR" property="fEffective" />
    <result column="ATTRIBUTE1" jdbcType="VARCHAR" property="attribute1" />
    <result column="ATTRIBUTE2" jdbcType="VARCHAR" property="attribute2" />
    <result column="ATTRIBUTE3" jdbcType="VARCHAR" property="attribute3" />
    <result column="ATTRIBUTE4" jdbcType="VARCHAR" property="attribute4" />
    <result column="ATTRIBUTE5" jdbcType="VARCHAR" property="attribute5" />
    <result column="ATTRIBUTE6" jdbcType="VARCHAR" property="attribute6" />
    <result column="ATTRIBUTE7" jdbcType="VARCHAR" property="attribute7" />
    <result column="ATTRIBUTE8" jdbcType="VARCHAR" property="attribute8" />
    <result column="ATTRIBUTE9" jdbcType="VARCHAR" property="attribute9" />
    <result column="ATTRIBUTE10" jdbcType="VARCHAR" property="attribute10" />
    <result column="ATTRIBUTE11" jdbcType="VARCHAR" property="attribute11" />
    <result column="ATTRIBUTE12" jdbcType="VARCHAR" property="attribute12" />
    <result column="ATTRIBUTE13" jdbcType="VARCHAR" property="attribute13" />
    <result column="ATTRIBUTE14" jdbcType="VARCHAR" property="attribute14" />
    <result column="ATTRIBUTE15" jdbcType="VARCHAR" property="attribute15" />
  </resultMap>
  <insert id="insert" parameterType="eac.core.friend.model.Friend">
    insert into FRIEND (F_ID, F_UID, F_FID, 
      F_CREATE_TIME, F_DELETE_TIME, F_EFFECTIVE, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
      ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
      ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, 
      ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15
      )
    values (#{fId,jdbcType=VARCHAR}, #{fUid,jdbcType=VARCHAR}, #{fFid,jdbcType=VARCHAR}, 
      #{fCreateTime,jdbcType=TIMESTAMP}, #{fDeleteTime,jdbcType=TIMESTAMP}, #{fEffective,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, 
      #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, 
      #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, 
      #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="eac.core.friend.model.Friend">
    insert into FRIEND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_ID,
      </if>
      <if test="fUid != null">
        F_UID,
      </if>
      <if test="fFid != null">
        F_FID,
      </if>
      <if test="fCreateTime != null">
        F_CREATE_TIME,
      </if>
      <if test="fDeleteTime != null">
        F_DELETE_TIME,
      </if>
      <if test="fEffective != null">
        F_EFFECTIVE,
      </if>
      <if test="attribute1 != null">
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null">
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null">
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null">
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null">
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null">
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null">
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null">
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null">
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null">
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null">
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null">
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null">
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null">
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null">
        ATTRIBUTE15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fUid != null">
        #{fUid,jdbcType=VARCHAR},
      </if>
      <if test="fFid != null">
        #{fFid,jdbcType=VARCHAR},
      </if>
      <if test="fCreateTime != null">
        #{fCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fDeleteTime != null">
        #{fDeleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fEffective != null">
        #{fEffective,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null">
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null">
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null">
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null">
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null">
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null">
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null">
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null">
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null">
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null">
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null">
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null">
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null">
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null">
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null">
        #{attribute15,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>